---
---

/*
So turns out you should build websites mobile first, or you get this!
I have learnt my lesson now :(
*/

/* Imports */
@import "home/colours";

/* Variables */
$font-stack: "Roboto Mono", monospace;
$font-size: 12px;
$rel-font-size: calc(#{$font-size} + 4vw);
$max-main-width: 560px;
$line-height: 1.125rem;

/* General niceties */

html {
  font-size: $font-size;
}

body {
  font-family: $font-stack;
  font-size: 1rem;
}

pre {
  font-family: $font-stack;
  line-height: $line-height;
}

a#toggle {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-size: $font-size;
  font-size: 1rem;
  display: inline-block;
  margin: 0.125rem 0 1rem;
  padding: 0;
}

h1,
h2,
h3,
h4,
b {
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:before {
  float: left;
}
:before,
:after {
  white-space: pre;
  font-weight: normal;
}

/* Blocks or something */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#wrapper {
  display: flex;
  margin: 0;
  padding: 0;

  width: 100%;
}

main {
  margin: 1rem;
  width: $max-main-width;
}

#card-container {
  text-align: center;
}
pre.art {
  display: inline-block;
}
#card-vertical {
  display: none;
}

#side {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;
}

#toggle-box {
  position: absolute;
  right: 1rem;

  display: inline-block;
}

#blog {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* Stylin stuff */

#card-horizontal {
  font-size: $font-size;
}
#card-vertical {
  font-size: 4.5vw;
  line-height: 1.125em;
}

h2:before {
  content: "#\00a0";
}

p {
  margin: 0 0 1rem;
  padding: 0;
}

ul#projects-list {
  display: block;

  li {
    margin: 0;

    &:before {
      content: "+\00a0";
    }

    & > ul > li {
      margin: 0 0 0 1rem;

      &:before {
        content: ">\00a0";
      }

      dl {
        margin: 0 0 1rem;

        dt,
        dd {
          display: inline-block;
        }
        dd {
          float: right;
          margin-left: $font-size;
        }
      }

      p,
      ul {
        margin: 0 0 1rem 1rem;
      }

      ul.langs,
      ul.tools {
        margin: 0 0 1rem;

        list-style: none;
        display: inline-block;

        li {
          margin: 0;
          display: inline;

          &:before {
            content: none;
          }
        }
      }

      ul.langs:before {
        content: "Langs:\00a0";
        margin-left: 1rem;
      }

      ul.tools:before {
        content: "Tools:\00a0";
      }
    }
  }
}

#toggle-box {
  white-space: pre-line;

  pre {
    font-size: 5px;
    line-height: 6px;
  }
}

#blog > p {
    text-align: right;
    
    & > a { text-decoration-style: double }
}

footer {
  font-size: 0.9rem;
  text-align: right;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  a {
    text-decoration-style: dotted;
  }
}

/* Assign respective Solarized colours to rebase */

body,
.--light {
  @include rebase($base01, $base00, $base1, $base3, $base2);
}
.--dark {
  @include rebase($base1, $base0, $base01, $base03, $base02);
}

/* Responsive wizardry */
// Mixins

@mixin collapse-sidebar {
  #wrapper {
    max-width: $max-main-width;
    flex-direction: column;

    main {
      margin-bottom: 0;
    }

    #side {
      &,
      & > #toggle-box,
      & > #blog,
      & > footer {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        height: auto;
        transform: none;
      }

      display: flex;

      align-items: center;
      flex-direction: column;

      margin-bottom: 1rem;

      #blog > p {
          text-align: left;
      }

      footer {
        text-align: left;
        width: 100%;

        ul > li { margin-bottom: $font-size }
      }
    }
  }
}

@mixin rotate-card {
  #wrapper > main > #card-container {
    #card-horizontal {
      display: none !important;
    }
    #card-vertical {
      display: block !important;
    }
  }
}

@mixin full-width {
  #wrapper {
    max-width: none;
    width: 100%;

    main {
      width: auto;
    }

    #card-vertical {
      margin-top: 0;
    }

    h2,
    li {
      &:before {
        content: "" !important;
      }
    }

    ul,
    li,
    p {
      margin-left: 0 !important;
    }

    dl {
      display: block !important;
      dt,
      dd {
        margin-left: 0 !important;
        display: list-item !important;
      }
      dd {
        float: none !important;
      }
    }
    ul.langs,
    ul.tools {
      display: block !important;
      &:before {
        width: 100% !important;
      }
      li {
        display: list-item !important;
      }
      & > li.hover {
        background-color: transparent !important;
        color: inherit !important;
      }
    }
    ul.langs:before {
      margin-left: 0 !important;
    }

    #side {
      display: none !important;
    }
  }
}

// Forced mobile style

html.mobile {
  font-size: $rel-font-size;

  body {
    @include collapse-sidebar;
    @include rotate-card;
    @include full-width;
  }
}

// Media queries

@media (max-width: 1025px) {
  @include collapse-sidebar;
}

@media (max-width: $max-main-width) {
  html {
    font-size: $rel-font-size;
  }

  @include rotate-card;
  @include full-width;
}
