---
---

/* Imports */
@import "home/colours";

/* Variables */
$font-stack: 'Roboto Mono', monospace;
$font-size: 12px;
$card-break: 560px; // roughly width of landscape card
$max-main-width: 80ex;
$line-height: calc(1.125 * $font-size);

/* General niceties */

html {
    font-size: $font-size;
}

body {
    font-family: $font-stack;
    font-size: 1rem;
}

pre {
    font-family: $font-stack;
    font-size: $font-size;
}

a#toggle {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-size: $font-size; font-size: 1rem;
    display: inline-block;
    margin: .125rem 0 1rem;
    padding: 0;
}

h1, h2, h3, h4, b { font-weight: 600; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

:before { float: left }
:before, :after {
    white-space: pre;
    font-weight: normal;
}

/* Blocks or something */

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    margin: 0;
    padding: 0;

    width: 100%;
}

main {
    margin: $font-size;
    width: 100%;
    max-width: $max-main-width;
}

#side {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 100%;
    height: 100vh;
}

#toggle-box {
    position: absolute;
    right: 1rem;

    display: inline-block;
}

footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* Stylin stuff */

pre.art {
    margin: 0;
}

h2:before { content: '#\00a0' }

p {
    margin: 0 0 1rem;
    padding: 0;
}

ul#projects-list > li {
    margin: 0;
    padding: 0;

    &:before { content: '+\00a0' }

    & > ul > li {
        margin: 0 0 0 1rem;

        &:before { content: '>\00a0' }

        dl {
            margin: 0 0 1rem;

            dt, dd { display: inline-block }
            dd { float: right }
        }

        p, ul.tools { margin: 0 0 1rem 1rem }

        ul.tools {
            list-style: none;
            display: inline-block;

            &:before { content: 'Tools:\00a0' }

            li {
                margin: 0;
                padding: 0;
                display: inline;

                &:before { content: none }
            }
        }
    }
}

#toggle-box {
    white-space: pre-line;

    pre {
        font-size: 5px;
        line-height: 6px;
    }
}

footer {
    font-size: 0.9rem;
    text-align: right;

    ul {
        margin: 0;
        padding: 0;

        li { list-style-type: none }
    }

    a { text-decoration-style: dotted }
}

/* Assign respective Solarized colours to rebase */

body, .--light { @include rebase($base01, $base00, $base1, $base3, $base2) }
.--dark { @include rebase($base1, $base0, $base01, $base03, $base02) }

/* Responsive wizardry */

@media (max-width: 100ex) {
    #wrapper {
        padding: $font-size;
        max-width: 80ex;
        flex-direction: column;
    }

    main { margin: 0 }

    #side, #toggle-box, footer {
        position: static;
        top: auto; right: auto; bottom: auto; left: auto;
        height: auto;
    }

    #side {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    footer { text-align: center }

}

@media (max-width: $card-break) {
    pre.art { display: none !important }
}
