---
---

/* Imports */
@import "colours";
@import "mixins";

/* Variables */
$font-stack: 'Roboto Mono', monospace;
$font-size: 12px;
$line-height: 1.125em;

/* General niceties */

body {
    font-family: $font-stack;
    font-size: $font-size;
}

pre {
    font-family: $font-stack;
    font-size: $font-size;
}

a#toggle {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-size: $font-size;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    padding: 0;
}

:before, :after {
    white-space: pre;
}

/* Blocks or something */

body {
    padding: 0 1em;
    margin: 0;
}

#toggle-box {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 1em;

    white-space: pre-line;

    pre {
        font-size: 5px;
        line-height: 6px;
    }
}

main {
    margin: 1em 0;
    max-width: 80ex;

    h2 {
        margin: 1em 0;
        &:before { content: '#\00a0' }
    }

    p {
        margin: 0;
        padding: 0;
    }

    table, tr, td {
        padding: 0;
        margin: 0;
        height: 1em;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin: 0;
        padding: 0;

        &:before {
            content: '+\00a0';
            float: left;
        }

        h3 { margin: 0 0 1em }

        & > ul > li {
            margin: 0 0 1em 1em;

            &:before { content: '>\00a0' }

            p {
                margin: 0 0 1em 1em;
            }

            dl {
                margin: 0 0 1em;

                dt, dd { display: inline-block }
                dt { font-weight: bold }
                dd { float: right }
            }

            ul {
                margin: 0 0 1em 1em;

                list-style: none;
                display: inline;

                &:before { content: 'Tools:' }

                li {
                    margin: 0;
                    padding: 0;
                    display: inline;

                    &:before { content: none }
                    /*&:before { content: none }
                    &:after { content: '\00a0|' }
                    &:last-child:after { content: none }*/
                }
            }
        }


    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;

    padding: 1em;
    font-size: 11px;
    text-align: right;

    ul {
        margin: 0;
        padding: 0;

        li { list-style-type: none }
    }
}

/* Arty stuff */

pre {
    line-height: $line-height;
    margin: 0;
    span { display: inline-block }

    &.art {
        span {
            &.logo-fill { @include bold($red) }

            &.banner { color: $green }
            &.banner-stars { color: $yellow }

            &.skin { color: $orange }
            &.glasses { color: $blue }
            &.shirt { color: $magenta }
        }

    }
}

p.shell {
    span {
        &.user-n-machine { color: $green }
        &.dir { color: $blue }
    }
}

// definitions for light and dark modes of the site
body, .--light { @include rebase($base01, $base00, $base1, $base3, $base2) }
.--dark { @include rebase($base1, $base0, $base01, $base03, $base02) }

// Inline styles

a {
    &.www { color: $violet }
    &.email { color: $yellow }
    &.gh { color: $green } // github
    &.twt { color: $cyan } // twitter
}

