---
---

/* Imports */
@import "colours";
@import "mixins";

/* A variable */
$font-stack: 'Roboto Mono', monospace;

/* General niceties */

body {
    font-family: $font-stack;
    font-size: 12px;
}

/* Blocks or something */

body {
    padding: 1em;
    margin: 0;
}

#toggle-box {
    position: fixed;
    right: 0;
    top: 0;
    margin: 1em;
}

main { max-width: 80ex }

.art {
    position: relative;

    font-family: $font-stack;
    font-size: 1em;
    line-height: 1.125em;

    span {
        display: inline-block;

        &.logo-fill { @include bold($red) }

        &.banner { color: $green }
        &.banner-stars { color: $yellow }

        &.skin { color: $orange }
        &.glasses { color: $blue }
        &.shirt { color: $magenta }
    }

}

footer {
    position: absolute;
    bottom: 1em;

    font-size: 11px;

    ul {
        margin: 0;
        padding: 0;

        li { list-style-type: none }
    }
}



// definitions for light and dark modes of the site
body, .--light { @include rebase($base01, $base00, $base1, $base3, $base2) }
.--dark { @include rebase($base1, $base0, $base01, $base03, $base02) }

/* Inline styles */

span.text {
    a {
        &.www { color: $violet }
        &.email { color: $yellow }
        &.github { color: $green }
        &.twitter { color: $cyan }
    }
}

a#toggle {
    text-decoration: none;
}
