---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>/home/matthew/</title>
        <meta name="description" content="{{ site.description }}" />
        <link rel="shortcut icon" href="assets/home/light.ico"  type="image/x-icon" />

        <!-- Using jQuery totally for a retro aesthetic and not in any way reflective of an ignorance of modern ECMAScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/detect-mobile.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" href="/assets/normalize.css">
        <link rel="stylesheet" href="/assets/home/style.css">
    </head>
    <body>
        <div id="wrapper">
            <main>
                <div id="card-container">
                {% include home/card.html %}
                </div>
                {% capture include %}{% include home/main-text.md %}{% endcapture %}{{ include | markdownify }}
            </main>
            <div id="side">
                <div id="toggle-box">
                    <pre id="toggle" style="cursor: pointer"></pre>
                </div>
                <div id="blog">
                  <p><a href="https://blog.matthewbarber.io/">My blog</a>  ></p>
                </div>
                <footer>
                    {% capture include %}{% include home/footer-text.md %}{% endcapture %}{{ include | markdownify }}
                </footer>
            </div>
        </div>
        <script>
         $(document).ready(() => {
             {% include home/toggle.js %}
             {% include home/tools-highlight.js %}
         });
        </script>
    </body>
</html>
