---
---

@import "colours";
@import "mixins";

body {
    height: 100%;
    padding: 0;
}

.c-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        &.logo-emphasised { font-weight: bold }
        &.logo-fill { color: $red; font-weight: bold; }

        &.banner { color: $green }
        &.banner-stars { color: $yellow }

        &.skin { color: $orange }
        &.hair { font-weight: bold }
        &.glasses { color: $blue }
        &.shirt { color: $violet }

    }
}

body, .t--light { @include rebase($base01, $base00, $base1, $base3, $base2) }
.t--dark { @include rebase($base1, $base0, $base01, $base03, $base02) }
