---
---

/* Imports */
@import "colours";
@import "mixins";

/* A variable */
$font-stack: 'Roboto Mono', monospace;

/* General niceties */

body {
    padding: 1em;

    font-family: $font-stack;
    font-size: 12px;
}

/* Blocks or something */

.main {
    font-family: $font-stack;
    font-size: 12px;

    span {
        &.logo-emphasised { font-weight: bold }
        &.logo-fill { color: $red; font-weight: bold; }

        &.banner { color: $green }
        &.banner-stars { color: $yellow }

        &.skin { color: $orange }
        &.hair { font-weight: bold }
        &.glasses { color: $blue }
        &.shirt { color: $magenta }
    }
}

// definitions for light and dark modes of the site
body, .--light { @include rebase($base01, $base00, $base1, $base3, $base2, $base03) }
.--dark { @include rebase($base1, $base0, $base01, $base03, $base02, $base3) }

/* Inline styles */

span.text {
    a {
        &.www { color: $violet }
        &.email { color: $red }
        &.github { color: $green }
        &.twitter { color: $cyan }
    }
}
