body {
    height: 100%;
    margin: 0;
    background: #1f1f1f;
    color: #dcdccc;
}

::selection {
    background: #2f2f2f;
}

header {
    position: absolute;
    top: 0;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main > pre {
    font-size: 9px;
    font-family: "Lucida Console", monospace;
    line-height: 9px;
    text-align: center;
}

span.border {
    color: #8f8f8f;
}

span.plate {
    color: #c3bf9f;
}

span.exclaim {
    color: 	#4e4e4e;
}

footer {
    position: absolute;
    bottom: 0;
}

