$shadow-size: 0.05ex;
@mixin bold($colour) {
    color: $colour;
    text-shadow: -$shadow-size 0  $colour, $shadow-size 0  $colour;
}

@mixin rebase($emphasis, $primary, $secondary, $background, $background-highlights, $opposite) {
    color: $primary;
    background: $background;

    ::selection { background: $background-highlights }
    ::-moz-selection { background: $background-highlights }

    a { color: $emphasis; }

    .art {
        span {
            &.label { color: $secondary }
            &.text { color: $primary }

            &.border { color: $emphasis }
            &.border-highlight { @include bold($emphasis) }

            &.logo { color: $emphasis }
            &.logo-emphasised { color: $emphasis }

            &.banner-text { color: $primary }
            &.banner-text-highlight { color: $primary }

            &.photo-border { color: $primary }
            &.beauty-spot { color: $emphasis }
            &.hair { @include bold($primary) }
        }
    }

}
