@mixin rebase($emphasis, $primary, $secondary, $background, $background-highlights, $opposite) {
    color: $primary;
    background: $background;

    ::selection {
        background: $background-highlights;
    }

    a {
        color: $emphasis;
    }

    .art {
        span {
            &.label { color: $secondary }
            &.text { color: $primary }

            &.border { color: $emphasis }
            &.border-highlight { color: $primary }

            &.logo { color: $emphasis }
            &.logo-emphasised { color: $emphasis }

            &.banner-text { color: $primary }
            &.banner-text-highlight { color: $primary }

            &.photo-border { color: $primary }
            &.beauty-spot { color: $emphasis }
            &.hair { color: $primary }
        }
    }
}
