/* Colours */
@greyest_grey: #1f1f1f;
@is_it_black: #2f2f2f;
@terminal_white: #dcdccc;
@kinda_steel: #8f8f8f;
@hipster_yellow: #c3bf9f;
@noticable_black: #4e4e4e;
@ptsd_red: #ac0000;
@sage_purple: #af5fff;
@neo_blue: #005f87;
@octo_green: #005f00;
@stodgy_brown: #800000;

/* Fonts */
@haxor: "Lucida Console", monospace;

body {
	  height: 100%;
	  margin: 0;
	  background: @greyest_grey;
	  color: @kinda_steel;
	  font-size: 9px;
	  font-family: @haxor;
}

main {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center;

	  >pre {
		    font-size: 9px;
		    font-family: @haxor;
		    line-height: 9px;
		    text-align: center;

	      >.border {
	          color: @kinda_steel;
        }
        >.plate {
	          color: @hipster_yellow;
        }
        >.exclaim {
	          color: @noticable_black;
        }
    }
}

#message {
    >#err {
        color: @ptsd_red;
    }
    >#name {
        color: @sage_purple;
    }
    >#msg {
        color: @terminal_white;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    >div {
        padding: 1em;
    }
    >#left {
    }
    >#right {
        text-align: right;
    }
}

&::selection {
	  background: @is_it_black;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    display: inline-block;

    &:before {
        content: '\00a0\2022\00a0';
    }

    &:first-child:before {
        content: '';
    }
}

a {
    &:link {
        color: @terminal_white;
        text-decoration: none;
    }
    &:visited {
        color: @terminal_white;
        text-decoration: none;
    }
    &:hover {
        color: @terminal_white;
        text-decoration: underline;
    }
    &:active {
        color: @terminal_white;
        text-decoration: underline;
    }

}

#twitter {
    background: @neo_blue;
}

#github {
    background: @octo_green;
}

#email {
    background: @stodgy_brown;
}
