/* Variables */

@bold-size: 0.25px;

// Colours
@black: #1c1c1c;
@darker-grey: #4e4e4e;
@dark-grey: #1f1f1f;
@light-grey: #8f8f8f;
@lighter-grey: #b2b2b2;
@white: #dcdccc;
@red: #ac0000;
@purple: #af5fff;
@blue: #005f87;
@green: #005f00;
@yellow: #ffff87;
@brown: #800000;
@red: #af0000;

// Fonts
@haxor: "Lucida Console", monospace;

/* Mixins */
.text {
 	  font-size: 9px;
	  font-family: @haxor;
    line-height: 9px;
}

/* General definitions */

body {
	  height: 100%;
	  margin: 0;
	  background: @dark-grey;
	  color: @light-grey;
    .text;
}

pre {
    .text;

    &::selection{ background: @black; }
}

::selection {
	  background: @black;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    display: inline-block;

    &:before {
        // whitespace-dot-whitespace
        content: '\00a0\2022\00a0';
    }

    &:first-child:before {
        content: '';
    }
}

a {
    &:link {
        color: @white;
        text-decoration: none;
    }
    &:visited {
        color: @white;
        text-decoration: none;
    }
    &:hover {
        color: @white;
        text-decoration: underline;
    }
    &:active {
        color: @white;
        text-decoration: underline;
    }

}

/* Section definitions */

header {
    position: absolute;
    top: 0;
    padding: 1em;

    h1 {
        display: inline;
        .text;
        color: @white;
    }
}

main {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center;

	  >pre {
		    text-align: center;

        span {
	          &.border { color: @light-grey; }
            &.plate { color: @yellow; }
            &.exclaim {
                color: @darker-grey;
                text-shadow: -@bold-size 0  @darker-grey, @bold-size 0 @darker-grey;
            }
        }
    }

    >#message {
        >#err { color: @red; }
        >#name { color: @purple; }
        >#msg { color: @white; }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    >div {
        padding: 1em;
    }

    >#left {
        a {
            &#twitter { background: @blue; }
            &#github { background: @green; }
            &#email { background: @brown; }
        }
    }

    >#right {
        text-align: right;
    }
}


