<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}" />

        <link rel="shortcut icon" href="/toggle/light.ico"  type="image/x-icon" />

        <!-- Using jQuery totally for a retro aesthetic and not in any way reflective of an ignorance of modern ECMAScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet"  href="normalize.css">
        <link rel="stylesheet" href="ascii.css">
    </head>
    <body>
        <div id="toggle-box">
            <pre id="toggle" style="cursor: pointer"></pre>
            <script src="/toggle/toggle.js"></script>
        </div>
        <main>
            {{ content }}
        </main>
        <footer>
            <!-- I could of imported a neat markdown list here, but what's done is done -->
            <ul>
                <li>ASCII art inspired from work by <i>Joan Stark</i> (search her pioneering art online!)</li>
                <li><a href="https://fonts.google.com/specimen/Roboto">Roboto font</a> by <a href="http://christianrobertson.com/"><i>Christian Robertson</i></a> and other smart people at Google under <a href="https://github.com/google/roboto/blob/master/LICENSE">Apache 2.0</a></li>
                <li>Colour definitions from <a href="https://ethanschoonover.com/solarized">Solarized palette</a> by <a href="https://ethanschoonover.com/"><i>Ethan Schoonover</i></a></li>
                <li><a href="https://github.com/Honno/Honno.github.io">Website source</a> released under <a href="https://github.com/Honno/Honno.github.io/blob/master/LICENSE.md">MIT</a></li>
                <li>Hosted via <a href="https://pages.github.com/">GitHub Pages</a></li>
                <li><span id='heart'><3</span></li>
            </ul>

        </footer>
    </body>
</html>
