<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet"  href="normalize.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <main>
            {{ content }}

            <p><a id="toggle" style="cursor: pointer">Too bright?</a></p>
        </main>

        <script src="toggle.js"></script>
    </body>
</html>
